body{
  margin: 0;
}


.banner-container{
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 50px 80px;

}
.banner-right-content img{
  width: 100%;
}
.banner-left-content {
  font-size: 40px;
  color: #fff;
}
.banner-left-content a {

font-size: 16px;
padding: 16px;
background-color: rgb(255, 44, 86);
border-radius: 5px;
}
.photo-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 21px;
  grid-gap: 21px;
 background-color:#ffffff ;
}

.photo{
  border: 3px solid rgb(241, 241, 241);
  /* width: 300px; */
  padding: 15px;
  border-radius: 5px;
}
.photo img{
  width: 100%;
 
}
@media only screen and (max-width:668px) {
  .banner-container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    
  }
  .banner-right-content img{
    margin-top: 40px;
  }
  .messi{
    display: grid;
    grid-template-columns: repeat(1,1fr)
    
  }
}
.messi{
  display: grid;
  grid-template-columns: repeat(2,1fr)
  
}
.all-container{
  font-size: 40px;
}
.match-photo{
  width: 100%;
}

.add{
  display: grid;
  grid-template-columns:repeat(1,1fr) ;
  margin: auto;
  width: 100%;
  text-align: center;
}